.bg-password-image {
    background: url(https://source.unsplash.com/oWTW-jNGl9I/600x800);
    background-position: center;
    background-size: cover;
}

.bg-gradient-primary {
    background-image: linear-gradient(180deg,#71aebd 10%,#9eada4  100%) ;    background-size: cover;
}


.btn-primary {
    color: #fff ;
    background-color: #71aebd ;
    border-color: #71aebd;
}

a {
    color: #71aebd;
    text-decoration: none;
    background-color: transparent;
}
